<h2>Tema 09: Peticiones HTTP</h2>

<app-buscador-cocktails></app-buscador-cocktails>

<hr>

<button type="button" (click)="crearPost()">Crear post</button>

<div [style]="{display: 'flex'}">

  <div class="lista-usuarios">

    <div class="fila-usuarios">
      @for (usuario of usuarios(); track usuario.id) {
        <app-user [user]="usuario" (onLoadPosts)="cargarPostsDeUsuario($event)"></app-user>
      }
    </div>

  </div>

  <div class="lista-posts">
    @for (post of posts(); track post.id) {
      <div>
        <p>{{post.title}}</p>
      </div>
    }
  </div>

</div>

<!-- {
  "id": 7,
  "name": "Kurtis Weissnat",
  "username": "Elwyn.Skiles",
  "email": "Telly.Hoeger@billy.biz",
  "website": "elvis.io",
} -->